# quora questions paris的分析与处理
---

** 幸福的家庭总是相似的，不幸的家庭则各有不同 **
 
重复问题的检查也是一样，我们假设

a = b;
b = c;
那么我们推论：b = c

根据这个理论，我们来进行quora questions paris的分析与处理。

In [2]:
#import packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

## 1 Read data and clean data.
### 1.1 Read data

In [3]:
df_train = pd.read_csv('data/train.csv')
df_test = pd.read_csv('data/test.csv')

In [4]:
print "Train dataframe`s shap is:",df_train.shape
df_train.head(3)

Train dataframe`s shap is: (404290, 6)

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0

### Data fields

1. id - the id of a training set question pair
2. qid1, qid2 - unique ids of each question (only available in train.csv)
3. question1, question2 - the full text of each question
4. is_duplicate - the target variable, set to 1 if question1 and question2 have essentially the same meaning, and 0 otherwise.

In [5]:
duplicate_df = df_train[df_train.is_duplicate==1]
#get total number about duplicated question
print "Duplicate question shape is:", duplicate_df.shape

duplicate_df.head(3)

Duplicate question shape is: (149263, 6)

,id,qid1,qid2,question1,question2,is_duplicate
5,5,11,12,Astrology: I am a Capricorn Sun Cap moon and c...,"I'm a triple Capricorn (Sun, Moon and ascendan...",1
7,7,15,16,How can I be a good geologist?,What should I do to be a great geologist?,1
11,11,23,24,How do I read and find my YouTube comments?,How can I see all my Youtube comments?,1

> ** 问题对有40万,其中重复问题有14万 **

## 1.2 clean data

### （1）对questions进行简单统计

In [6]:
clean_df1 = duplicate_df[['qid1','question1']]
clean_df1.columns = ['qid','question']
print clean_df1.drop_duplicates('qid').shape
clean_df2 = duplicate_df[['qid1','question2']]
clean_df2.columns = ['qid','question']
print clean_df2.drop_duplicates('qid').shape

all_df = clean_df1.append(clean_df2)

print all_df.shape
all_df.head()

(86197, 2)
(86197, 2)
(298526, 2)

    qid                                           question
5    11  Astrology: I am a Capricorn Sun Cap moon and c...
7    15                     How can I be a good geologist?
11   23        How do I read and find my YouTube comments?
12   25               What can make Physics easy to learn?
13   27        What was your first sexual experience like?

## 2 Text analysis

In [7]:
from wordcloud import WordCloud

ImportError: No module named wordcloud