In [1]:
#import
import operator
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import tree
%matplotlib inline

In [11]:
def loadData():
    train_data = pd.read_csv('data/train.csv')
    test_data = pd.read_csv('data/test.csv')
    return train_data,test_data

train_df,test_df = loadData()
lables = train_df.iloc[:,2]

In [12]:
#clean data
train_df.Age = train_df.Age.fillna(train_df.Age.median())
train_df.Sex[train_df.Sex == 'male'] =1
train_df.Sex[train_df.Sex  == 'female'] = 0
train_df.drop(['Survived','Name','SibSp','Parch','Ticket','Fare','Cabin','Embarked'],axis=1)

test_df.Age = test_df.Age.fillna(test_df.Age.median())
test_df.Sex[test_df.Sex == 'male'] =1
test_df.Sex[test_df.Sex  == 'female'] = 0

C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

     PassengerId  Pclass Sex   Age
0              1       3   1  22.0
1              2       1   0  38.0
2              3       3   0  26.0
3              4       1   0  35.0
4              5       3   1  35.0
5              6       3   1  28.0
6              7       1   1  54.0
7              8       3   1   2.0
8              9       3   0  27.0
9             10       2   0  14.0
10            11       3   0   4.0
11            12       1   0  58.0
12            13       3   1  20.0
13            14       3   1  39.0
14            15       3   0  14.0
15            16       2   0  55.0
16            17       3   1   2.0
17            18       2   1  28.0
18            19       3   0  31.0
19            20       3   0  28.0
20            21       2   1  35.0
21            22       2   1  34.0
22            23       3   0  15.0
23            24       1   1  28.0
24            25       3   0   8.0
25            26       3   0  38.0
26            27       3   1  28.0
27            28       1   1  19.0
28            29       3   0  28.0
29            30       3   1  28.0
..           ...     ...  ..   ...
861          862       2   1  21.0
862          863       1   0  48.0
863          864       3   0  28.0
864          865       2   1  24.0
865          866       2   0  42.0
866          867       2   0  27.0
867          868       1   1  31.0
868          869       3   1  28.0
869          870       3   1   4.0
870          871       3   1  26.0
871          872       1   0  47.0
872          873       1   1  33.0
873          874       3   1  47.0
874          875       2   0  28.0
875          876       3   0  15.0
876          877       3   1  20.0
877          878       3   1  19.0
878          879       3   1  28.0
879          880       1   0  56.0
880          881       2   0  25.0
881          882       3   1  33.0
882          883       3   0  22.0
883          884       2   1  28.0
884          885       3   1  25.0
885          886       3   0  39.0
886          887       2   1  27.0
887          888       1   0  19.0
888          889       3   0  28.0
889          890       1   1  26.0
890          891       3   1  32.0

[891 rows x 4 columns]

In [13]:
dtt = tree.DecisionTreeClassifier()
dtt = dtt.fit(train_df.drop(['Survived','Name','SibSp','Parch','Ticket','Fare','Cabin','Embarked'],axis=1),lables)

In [15]:
dtt.predict(test_df.drop(['Name','SibSp','Parch','Ticket','Fare','Cabin','Embarked'],axis=1))

ValueError: could not convert string to float: male

In [14]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB